.navbar {
    overflow: hidden;
    background-color: #a5a58d;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 120px;
    text-decoration: none;
    margin-left: 80px;
  }
  /* Change background on mouse-over */
.navbar a:hover {
  background: #ffe8d6;
  color: grey;
}
.header {
    margin-top: 60px;
    text-align:center;
    padding: 9em 0 10em 0 ;
    background-image: url(/images/soup-3347872__480.jpg);
}
.header2{
  margin-top: 60px;
    text-align:center;
    padding: 9em 0 10em 0 ;
  background-image: url(/images/pie-2314617__480.jpg);
}
.header3 {
  margin-top: 60px;
    text-align:center;
    padding: 9em 0 10em 0 ;
    background-image: url(/images/jam-1106592__480.jpg);
}
body {
    font-family: 'Goudy Old Style', 'garamond';
}
.header > h1 {
    font-size: 1.75em;
	margin: 0 0 0.5em 0;
    text-transform: uppercase;
    text-decoration: underline;
}
.header p {
    color: inherit;
	letter-spacing: 0.225em;
	text-transform: uppercase;
	top: 0;
  font-size: 1.14em;
  text-transform:uppercase;
}
.header-text{
    font-weight: bolder;
}
.bg-banner {
    background-color: #b7b7a4;
      opacity: 0.7;
      padding: 5px;
  }

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 480px;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: rgb(209, 48, 75);
    color: white;
  }
  .fa-github {
    background: rgb(33, 33, 33);
    color: white;
  }
  footer {
  overflow: hidden;
    background-color: #a5a58d;
    width: 100%;
  }
  footer > a {
      color: #f2f2f2;
      text-decoration: none;
      
  }
  footer > a:hover {
    background: #ffe8d6;
    color: grey;
  }
  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:center;
    padding: 5px ;
    background-color: #cb997e;
  }
  .stephen {
    text-align:center;
    padding: 5px ;
    background-color: #cb997e;
    font-weight: bolder;
    font-size: larger;
  }
  .recipe {
    background-color: #ddbea9;
  }
  .ingredients > h3 {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-decoration: solid;
    text-decoration-line: underline;
  }
  .ingredients {
    background-color: #ddbea9;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .ingredients ul {
    text-align:inherit;
    list-style: none;
    font-size: large;
    padding-right: 30px;
  }
  .instructions {
    background-color: #ddbea9;
    display: flex;
    flex-direction: column;
  }
  .instructions > h3 {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-decoration: solid;
    text-decoration-line: underline;
  }
  .instructions ol {
    text-align:center;
    list-style: none;
    font-size: large;
    padding-bottom: 30px;
  }
  @media only screen and (min-width: 600px) {

    .navbar > a {
    overflow: hidden;
    padding: 5px 35px;
    }
    footer > a{
      align-content: center;
    }
  
  } 