.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
  }
  /* Change background on mouse-over */
.navbar a:hover {
  background: #ffe8d6;
  color: black;
}
.header {
    margin-top: 60px;
    text-align:center;
    padding: 9em 0 10em 0 ;
    background-color: #cb997e;
}

body {
    font-family: 'Goudy Old Style', 'garamond';
}
.header > h1 {
    font-size: 1.75em;
	margin: 0 0 0.5em 0;
    text-transform: uppercase;
}
.header p {
    color: inherit;
	letter-spacing: 0.225em;
	text-transform: uppercase;
	top: 0;
}
.header-text{
    font-weight: bold;
}

  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:center;
    padding: 5px ;
    background-color: #ddbea9;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 50px;
    margin-bottom: 100px;
  }
  details {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.15s background linear;
  }
  
  details:hover,
  details:focus {
    background: #d4d1ec;
  }
  summary {
    background: url("https://assets.codepen.io/14179/Info.svg") 11px 11.5px no-repeat;
    list-style: none;
    padding: 10px;
    padding-left: 33px;
  }
  details p {
    cursor: auto;
    background: #eee;
    padding: 15px;
    width: 250px;
    position: absolute;
    left: 0;
    top: 35px;
    border-radius: 4px;
    right: 0;
  }
  
  details p:before {
    content: "";
    border-bottom: 12px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    height: 0;
    left: 10px;
    position: absolute;
    top: -10px;
    width: 0;
  }